<div class="" fxLayout="col" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>Modules</mat-card-title>
    </mat-card-header>

    <div fxLayout="column" fxLayoutAlign="space-between stretch" id="buttons-box">
      <button
        id="Start Link"
        mat-stroked-button
        color="accent"
        class="btn-block"
        (click)="startLink()">
        Link to Telegram
      </button>
<!--      <button-->
<!--          mat-stroked-button-->
<!--          color="accent"-->
<!--          class="btn-block"-->
<!--          (click)="endLink()"-->
<!--          [matDialogClose]="true">-->
<!--          Revoke Telegram Access-->
<!--      </button>-->
    </div>
  </mat-card>

</div>
