<mat-sidenav-container class="main-sidenav-container" fxLayout="vertical" fxFlexFill>
  <mat-sidenav #sidenav class="sidebar" mode="side" opened="true">
    <h2 class="mat-h2" id="header">My Modules</h2>

    <mat-divider></mat-divider>

    <mat-list id="subjects">
      <mat-list-item *ngFor="let subject of subjects">
        <button mat-flat-button fxFlexFill>{{subject.name}}</button>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
      <p><button mat-button (click)="beginEdit()" id="edit" *ngIf="!editing">Edit</button></p>
<!--      <p><button mat-button (click)="confirmEdit()" id="done" *ngIf="editing">Done</button></p>-->
      <p><button mat-button (click)="sidenav.toggle()" id="close">Hide</button></p>

  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Sidebar</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>
