<mat-card>
  <form [formGroup]="assignmentForm" (ngSubmit)="saveAssignments()">
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <mat-card-title style="margin: 0 0;">
        Assignments
      </mat-card-title>
      <button mat-icon-button
              matTooltip="Add assignments"
              [matTooltipPosition]= "'right'"
              [matTooltipShowDelay]= "500"
              (click)="addAssignment()"
              type="button">
        <i class="material-icons">add</i>
      </button>

      <button mat-icon-button
              matTooltip="Save assignments"
              [matTooltipPosition]= "'below'"
              [matTooltipShowDelay]= "500"
              type="submit">
        <i class="material-icons">save</i>
      </button>
    </mat-card-header>

    <mat-card-content>
      <div formArrayName="myAssignments"
           *ngFor='let assignment of myAssignments.controls; let i = index'>
        <mat-form-field [formGroupName]="i" fxFlexFill>
              <input matInput formControlName="assignmentDescription">
        </mat-form-field>
      </div>
    </mat-card-content>
  </form>
</mat-card>
