<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title style="margin: 0 0;">
      Assignments
    </mat-card-title>
    <button mat-icon-button
            matTooltip="Add assignments"
            [matTooltipPosition]= "'right'"
            [matTooltipShowDelay]= "500"
            (click)="addCounter()">
      <i class="material-icons">add</i>
    </button>

    <button mat-icon-button
            matTooltip="Save assignments"
            [matTooltipPosition]= "'bottom'"
            [matTooltipShowDelay]= "500"
            (click)="saveAssignments()">
      <i class="material-icons">save</i>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field
      *ngFor='let indexNumber of counter(this.extraInputs); let i = index'
      fxFlexFill>
          <input matInput placeholder="Assignment {{i + 1}}" value="">
    </mat-form-field>
  </mat-card-content>
</mat-card>
