<div class="" fxLayout="col" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title style="margin-bottom: 0">Modules</mat-card-title>
      <button
        mat-icon-button
        color="accent"
        class="btn-block"
        matTooltip="Add Modules"
        [matTooltipPosition]= "'right'"
        [matTooltipShowDelay]= "500"
        (click)="addCounter()">
        <i class="material-icons">add</i>
      </button>
    </mat-card-header>

    <form class="subjects-form">
      <mat-card-content style="margin-left: 12px">
        <mat-form-field *ngFor="let subject of subjects" class="login-full-width">
          <input matInput placeholder="" value={{subject.name}} >
        </mat-form-field>

        <mat-form-field *ngFor='let indexNumber of counter(this.extraInputs); let i = index'>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </mat-card-content>

      <div fxLayoutAlign="end">
        <button
          mat-stroked-button
          color="accent"
          class="btn-block"
          matTooltip="Confirm Modules"
          [matTooltipPosition]= "'right'"
          [matTooltipShowDelay]= "500"
          [matDialogClose]="true"
          (click)="confirmEdit()">
          Done
        </button>
      </div>
    </form>
  </mat-card>

</div>
