<div class="" fxLayout="col" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title style="margin-bottom: 0">Modules</mat-card-title>
      <button
        mat-icon-button
        color="accent"
        class="btn-block"
        matTooltip="Add Modules"
        [matTooltipPosition]= "'right'"
        [matTooltipShowDelay]= "500"
        (click)="addSubject()">
        <i class="material-icons">add</i>
      </button>
    </mat-card-header>

    <form class="subjects-form" [formGroup]="subjectForm" (ngSubmit)="confirmEdit()">
      <mat-card-content style="margin-left: 12px">
        <div formArrayName="mySubjects"
             *ngFor="let subject of mySubjects.controls; let i = index">
          <mat-form-field class="login-full-width" [formGroupName]="i" >
            <input matInput
                   formControlName="name"
                   value={{subject.value.name}}>
          </mat-form-field>
        </div>
      </mat-card-content>

      <div fxLayoutAlign="end">
        <button
          type="submit"
          mat-stroked-button
          color="accent"
          class="btn-block"
          matTooltip="Confirm Modules"
          [matTooltipPosition]= "'right'"
          [matTooltipShowDelay]= "500"
          [matDialogClose]="true">
          Done
        </button>
      </div>
    </form>
  </mat-card>

</div>
