<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="/" target="_blank" class="planar">planar</a></div>
  <span class="nav-tool-items">
    <div *ngIf="!isLoggedIn()">
    <a mat-button routerLink="notetaking" routerLinkActive="active" *ngIf="true">Notetaking</a>
    <a mat-button mat-raised-button routerLink="loginlanding" routerLinkActive="active">Log in</a>
    </div>
    <div *ngIf="isLoggedIn()">
    <a>Hello {{name}}! </a>
    <a mat-button mat-raised-button color="warn" routerLink="loginlanding" (click)="logout()">Log out</a>
    </div>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
