<mat-sidenav-container fxFlexFill>

  <mat-sidenav #sidenav class="sidebar" mode="side" opened="true">
    <div #sidebar>
      <h2 class="mat-h2" id="header">My Modules</h2>

      <mat-divider></mat-divider>

      <mat-list id="subjects">
        <p *ngIf="isSubjectListEmpty()">Begin using planar by adding your modules with the edit button</p>
        <mat-list-item *ngFor="let subject of subjectList">
          <mat-menu #appMenu="matMenu">
            <button
              mat-menu-item
              (click)="scroll(wordEditor, sidebar)">Notes</button>
            <button
              mat-menu-item
              (click)="scroll(assignments, sidebar)">Assignments</button>
          </mat-menu>

          <button mat-flat-button fxFlexFill
                  (click)="selectSubject(subject)"
                  [style.background-color] = "isSelectedSubject(subject) ? '#DCDCDC' : 'transparent'"
                  [mat-menu-trigger-for]= "appMenu"
                  >
            {{subject}}
          </button>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>
      <button mat-button (click)="beginEdit()" id="edit" *ngIf="!editing">Edit</button>
      <button mat-button
              (click)="sidenav.toggle()"
              matTooltip="Hide Sidebar"
              [matTooltipPosition]= "'right'"
              [matTooltipShowDelay]= "500"
              id="close">Hide</button>

      <mat-divider></mat-divider>
      <button fxFill mat-button (click)="linkToTelegram()">Link to Telegram</button>
    </div>
  </mat-sidenav>


  <mat-sidenav-content fxFlexFill fxLayout="row" fxLayoutAlign="start none" style="background-color: white;">
    <button mat-icon-button
            (click)="sidenav.toggle()"
            *ngIf="!sidenav.opened"
            matTooltip="Show Modules"
            [matTooltipPosition]= "'right'"
            [matTooltipShowDelay]= "500"
            class="sidebar-toggle-button">
      <i class="material-icons">
        menu
      </i>
    </button>
    <div fxFill>
      <div #assignments style="scroll-margin: 8px 8px 8px 8px">
        <app-assignments
          fxFill
          [currentSubject]="selected"></app-assignments>
      </div>
      <div #wordEditor style="scroll-margin: 8px 8px 8px 8px">
        <app-word-editor
          fxFill
          [currentSubject]="selected"></app-word-editor>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
