.planar {
  text-decoration: none;
  color: #ffffff;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.mat-sidenav-container {
  padding-top: 64px;
}

.sidebar {
  width: 10vw;
  min-width: 150px;
  text-align: center;
  padding-top: 64px;
}

.sidebar-toggle-button {
  margin-top: 4px;
  z-index: 3;
}

#subjects {
  text-align: center;
  align-content: center;
}

#header {
  margin-top: 16px;
}

.mat-list-item {
  text-align: center;
}

.selected {
  background-color: #DCDCDC;
}

.notSelected {
  background-color: transparent;
}

.selectedModifier {
  opacity: 100;
}

.notSelectedModifier {
  opacity: 0;
}

#close {
  width: 80px;
}

#header {
  margin-top: 16px;
}

.mat-list-item {
  text-align: center;
}

.selected {
  background-color: #DCDCDC;
}

.notSelected {
  background-color: transparent;
}

.selectedModifier {
  opacity: 100;
}

.notSelectedModifier {
  opacity: 0;
}

#close {
  width: 80px;
}

#wordEditor {
  scroll-padding-left: 8px;
  /*scroll-margin-top: 8px;*/
}

#assignments {
  scroll-padding-left: 8px;
  /*scroll-margin-top: 8px;*/
}
