<mat-sidenav-container class="main-sidenav-container" fxLayout="vertical" fxFlexFill>
  <mat-sidenav #sidenav class="sidebar" mode="side" opened="true">
    <h2 class="mat-h2" id="header">My Modules</h2>

    <mat-divider></mat-divider>

    <mat-list id="subjects">
      <mat-list-item *ngFor="let subject of subjects.subjects">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Notes</button>
          <button mat-menu-item>Assignments</button>
        </mat-menu>

        <button mat-flat-button fxFlexFill
                (click)="selectSubject(subject.name)"
                (mouseover) = "openMenu(subject.name)"
                [style.background-color] = "isSelectedSubject(subject.name) ? '#DCDCDC' : 'transparent'"
                [mat-menu-trigger-for]= "appMenu"
                >
          {{subject.name}}
        </button>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <button mat-button (click)="beginEdit()" id="edit" *ngIf="!editing">Edit</button>
    <button mat-button
            (click)="sidenav.toggle()"
            matTooltip="Hide Sidebar"
            [matTooltipPosition]= "'right'"
            [matTooltipShowDelay]= "500"
            id="close">Hide</button>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill fxLayout="row" fxLayoutAlign="start none" style="background-color: white;">
    <button mat-icon-button
            (click)="sidenav.toggle()"
            *ngIf="!sidenav.opened"
            matTooltip="Show Modules"
            [matTooltipPosition]= "'right'"
            [matTooltipShowDelay]= "500"
            class="sidebar-toggle-button">
      <i class="material-icons">
        menu
      </i>
    </button>
    <app-assignments fxFill></app-assignments>
  </mat-sidenav-content>
</mat-sidenav-container>
